/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-to-cart-hover-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 23px;
}
.icon-add-to-cart-ic {
  background-image: url(../img/sprite.png);
  background-position: -24px 0px;
  width: 24px;
  height: 23px;
}
.icon-amex-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -23px;
  width: 27px;
  height: 19px;
}
.icon-cart-hover-ic {
  background-image: url(../img/sprite.png);
  background-position: -26px -61px;
  width: 26px;
  height: 19px;
}
.icon-cart-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -61px;
  width: 26px;
  height: 19px;
}
.icon-like-hover-ic {
  background-image: url(../img/sprite.png);
  background-position: -52px -61px;
  width: 21px;
  height: 18px;
}
.icon-like-ic {
  background-image: url(../img/sprite.png);
  background-position: -73px -61px;
  width: 21px;
  height: 18px;
}
.icon-mail-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -40px;
  width: 18px;
  height: 11px;
}
.icon-master-cart-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -42px;
  width: 27px;
  height: 19px;
}
.icon-no-name-cart-1-ic {
  background-image: url(../img/sprite.png);
  background-position: -27px -42px;
  width: 27px;
  height: 19px;
}
.icon-no-name-cart-2-ic {
  background-image: url(../img/sprite.png);
  background-position: -48px 0px;
  width: 27px;
  height: 19px;
}
.icon-phone-book-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -51px;
  width: 12px;
  height: 12px;
}
.icon-search-hover-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 20px;
  height: 20px;
}
.icon-search-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -20px;
  width: 20px;
  height: 20px;
}
.icon-share-hover-ic {
  background-image: url(../img/sprite.png);
  background-position: -27px -23px;
  width: 21px;
  height: 19px;
}
.icon-share-ic {
  background-image: url(../img/sprite.png);
  background-position: -54px -42px;
  width: 21px;
  height: 19px;
}
.icon-user-hover-ic {
  background-image: url(../img/sprite.png);
  background-position: -75px -23px;
  width: 22px;
  height: 23px;
}
.icon-user-ic {
  background-image: url(../img/sprite.png);
  background-position: -75px 0px;
  width: 22px;
  height: 23px;
}
.icon-visa-ic {
  background-image: url(../img/sprite.png);
  background-position: -48px -19px;
  width: 27px;
  height: 19px;
}
